body {
    background-color: #223;
    color: white;
}

.map {
    width: 500px;
    height: 500px;
    border: 3px solid #444;
    border-top: 0;
    margin-left: 1rem;

}

.hcoords {
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-left: 1rem;
    margin-bottom: -15px;

}

.vcoords {
    width: 500px;
    display: flex;
    justify-content: space-around;
    transform: rotate(90deg) translateX(260px) translateY(250px);
}

.vcoords span {
    transform: rotate(-90deg);
}

.map .sq {
    width: 48px;
    height: 48px;
    border: 1px solid #666;
    background-color: transparent;

    float: left;
    outline: none;
}

.map .ship {
    background-color: #651;
}

.map .hit {
    background-image: url(../i/hit.png);
    background-repeat: no-repeat;
    background-position: center;
}

.map .miss {
    background-image: url(../i/miss.png);
    background-repeat: no-repeat;
    background-position: center;
}